# Patch for argocd-cmd-params-cm ConfigMap
# Sets insecure mode and path configuration for subpath routing
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cmd-params-cm
  labels:
    app.kubernetes.io/name: argocd-cmd-params-cm
    app.kubernetes.io/part-of: argocd
data:
  server.basehref: /argoCD/
  server.insecure: "true"
  server.rootpath: /argoCD
